body{
    background-color: aliceblue;
}
.container{
    background-color: yellowgreen;
    height: 80px;
    box-shadow: 0 2px 5px #ccc;
}
#head{
    font-size: 50px;
    color:beige;
    border: 5px;
    margin-top: 30px;
    padding: 10px;
}
.foot {
  text-align: center;
  color: #999;
  padding: 15px 0;
  width: 100%;
  margin-top: 350px; 
  background-color: transparent;
  font-size: 14px;
  position: relative; 
}
.note h1{
    color: black;
    padding: 10px;
    margin: 20px;
    font-size: 20px;

}
.note p{
    color: black;
    text-align: left;
    margin-left: 30px;
    font-size: 20px;

}

.note1{
    background-color: #fff;
    width: 500px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
}

form input,
form textarea {
  width: 480px;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  resize: none;
}
.note1 form{
    position: relative;
    outline:none;
    border:none;
    
}
.note1 button{
    position: absolute;
    right: 18px;
    bottom: -70px;
    background: yellowgreen;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.note {
  background-color: #fff;
  width: 400px;
  min-height: 100px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  padding: 15px;
  margin: 20px auto;
  position: relative; 
}

.delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: yellowgreen;
  background-color: #fff;
  border: none;
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

